{% extends "admin/change_list.html" %}
{% load humanize %}
{% load mathfilters %}


{% block content_title %}
    <!-- <h1> Parking lot Summary </h1> -->
{% endblock %}
{% block result_list %}


<div class="results">
    <table>
        
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Lot ID</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Bookings</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Earnings</a>
          </div>
        </th>
        <th>
            <div class="text">
              <a href="#">Earning %</a>
            </div>
          </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.lotid }}</td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.earning | default:0 | intcomma }} RS </td>
        <td>
            <strong>
            {{ row.earning |div:summary_total.earning |mul:100 }} %
            </strong>
          </td>
      </tr>
      {% endfor %}

      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
        <td> Total </td>
        <td> {{ summary_total.total | intcomma }} </td>
        <td> {{ summary_total.earning | default:0 }} Rs </td>
        <td> 100% </td>
    </tr>
    </tbody>
    
  </table>
</div>



{% endblock %}
{% block pagination %}{% endblock %}