{% extends 'base.html' %}
{% load mathfilters %}


{% block additionalstyle %}
<style>

    #navvalet{
        font-weight: bolder;
        border-style: none none double none;
        border-color: tomato;
        border-bottom-width: thick;
    }
 </style>
{% endblock %}


{%  block content %}

<section>
    <div>
        {% for message in messages %}
        <h3 style="color:Tomato;">{{message}}</h3>
        {% endfor %}
    </div>                      


    {% for booking in bookedobjs %}


    {% if booking.paymentstatus %}

    <div class="list-group">

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{booking.lotid.title}}</h5>
            {% if booking.monthlysubscribe %}
            <small class="btn-sm btn-success">Monthly Subscription</small>
            {% else %}
            <small class="text-muted">Order Closed</small>
            {% endif %}
          </div>
          <p class="mb-1">Start Time : {{booking.booktime}}</p>
          <p class="mb-1">Vacate Time : {{booking.vacate}}</p>
          <small class="text-success">Amount Paid : {{booking.payment}}</small>
        </a>

      </div>




    {% else %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Title : {{booking.lotid.title}}</h1>
          <p class="lead">Start Time : {{booking.booktime}}</p>
          <input type="hidden" name="bookingid" value="{{booking.id}}">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Free up this slot</button>
        </div>
      </div>

          <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModal">Release Parking Lot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
                <h4 class="display-4">{{booking.lotid.title}}</h4>
                <p class="lead">Start Time : {{booking.booktime}}</p>



            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            <form action="/bookings" method="POST">
                {% csrf_token %}
                <input type="hidden" name="bookingid" value="{{booking.id}}">
                <input type="hidden" name="priceperhour" value="{{booking.lotid.price}}">
                <input type="hidden" name="parkingid" value="{{booking.lotid.id}}">
            <button type="sumbit" class="btn btn-primary">Make Slot Free</button>
            </form>

            </div>
        </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}

</section>

{% endblock %}