{% extends 'base.html' %}


{% block additionalstyle %}
<style>

    #navhour{
        font-weight: bolder;
        border-style: none none double none;
        border-color: tomato;
        border-bottom-width: thick;
    }
 </style>
{% endblock %}


{%  block content %}


    <section>
        <div class="container mt-5">
            <div class="row">
                {% for lotobj in lotobjs %}
                <div class="col-md-3 ">

                    
                    <div class="card" style="width: 18rem;height: 28rem;">
                        <img class="card-img-top" src="{{lotobj.image.url}}"
                            alt="Card image cap" style="height: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{lotobj.title}}</h5>
                            <p class="card-text">{{lotobj.description}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}