{% extends 'base.html' %}


{% block additionalstyle %}
<style>

    #navhour{
        font-weight: bolder;
        border-style: none none double none;
        border-color: tomato;
        border-bottom-width: thick;
    }
 </style>
{% endblock %}


{%  block content %}


    <section>
        <div class="container mt-3 mb-2">
            <div class="row">

                <div>
                    {% for message in messages %}
                    <h3 style="color:Tomato;">{{message}}</h3>
                    {% endfor %}
                </div>                      



                <div class="m-auto">
 
                    <form action="/" method="POST">
                        {% csrf_token %}

                    
                        <select required class="form-select btn-light btn-outline-dark" style="width: 300px;height:40px;border-radius:18px;" name="place" >
                            <option hidden>Select Nearest Locality</option>
                            {% for places in localities %}
                            <option value="{{places.locality}}">{{places.locality}}</option>
                            {% endfor %}
                        </select>
                        <input class="float-right btn btn-primary ml-1" type="submit" value="Go">
                    </form>
                </div>

            </div>

        </div>



        <div class="container mt-5">
            <div class="row">
                {% for lotobj in lotobjs %}
                <div class="col-md-3 ">

                    
                    <div class="card" style="width: 18rem;height: 28rem;">
                        <img class="card-img-top" src="{{lotobj.image.url}}"
                            alt="Card image cap" style="height: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{lotobj.title}}</h5>
                            <p class="card-text">Rs<b> {{lotobj.price}}</b>/hour </p>
                            <p class="card-text"><svg style="color: crimson;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                              </svg><b> {{lotobj.locality}}</b></p>
                            <a href="/lotoverview/?lot={{lotobj.id}}" class="btn btn-primary">Book now</a>
                        </div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}