{% extends 'base.html'%}
{% load mathfilters %}

{% block additionalstyle %}
<style>

    #navmonth{
        font-weight: bolder;
        border-style: none none double none;
        border-color: tomato;
        border-bottom-width: thick;
    }
 </style>
{% endblock %}

{% block content%}


<section>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center mt-3 pb-3">Overview of the parking lot</h2>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{lotobjs.image.url}}"
                        alt="Card image cap" style="height: 17rem;">
                </div>
                <br>

                <input type="hidden" name="verifyid" value="{{verifyobjs.id}}">
                
                <input type="hidden" name="parkinglotid" value="{{lotobjs.id}}">
                

                <div class="mb-3 ">
                    <h3>{{lotobjs.title}}</h3>
                </div>


                <div class="mb-3 ">
                    <h6><b>Description :</b>{{lotobjs.description}} </h6>
                </div>

                <div class="mb-3">
                    <h6><b>Monthly subscription charges :</b>{{lotobjs.price|mul:100}} Rs</h6>
                </div>


                <div class="mb-3">
                    <a href="{{lotobjs.gmaplink}}" target="_blank" class="btn btn-warning">Locate in Maps <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                      </svg></a>
                </div>

                                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Confirm Booking
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tariff Plans</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        
                            <div class="list-group">

                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Base plan</h5>

                                  </div>
                                  <p class="mb-1">Minimum cost for this slot is<b> {{ lotobjs.price|mul:2 }} Rs</b>. Thereafter <b>RS {{lotobjs.price}}</b> will be charged for each hour  </p>
                                  <p class="btn btn-outline-dark mb-1">Base Plan can be chosen in homepage</p>
                                </a>

                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Daily plan</h5>
                                    <small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                                      </svg>Save 50%</small>
                                  </div>
                                  <h6 class="mt-1 mb-1">Costs <b>Rs {{ lotobjs.price|mul:12 }}</b> per day </h6>
                                  <p class="mb-1">Automatically upgrades base plan to daily plan, if car is parked for more than 24hrs</p>
                                  <small class="btn btn-outline-dark">Auto Upgradation</small>
                                </a>

                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1">Monthly plan</h5>
                                      <small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                                          <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                                        </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                                          </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                                          </svg>Save 72%</small>
                                    </div>
                                    <h6 class="mt-1 mb-1">Costs <b>Rs {{ lotobjs.price|mul:100 }}</b> per month </h6>
                                    <small class="btn btn-outline-light">You have chosen this plan</small>
                                    
                                  </a>
                              </div>


                        </div>
                        <div class="modal-footer">
                        {% if request.session.walletbalance < lotobjs.price|mul:100 %}
                        <p class="text-danger">***   *** Add RS {{ lotobjs.price|mul:100|sub:request.session.walletbalance }} in wallet to Subscribe this slot ***   ***</p>
                        
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="/wallet" class="btn btn-danger">Add money to continue</a>
                        {% else %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="/monthlyoverview" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="lotid" value="{{lotobjs.id}}">
                            <input type="hidden" name="pricesub" value="{{ lotobjs.price|mul:100 }}">
                        <button type="sumbit" class="btn btn-primary">Confirm Booking</button>
                        </form>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</section>


{% endblock %}